# Python
__pycache__/
*.pyc

# Virtual environment
env/
venv/
.venv/

# Environment variables
.env

# Generated images
static/panels/*

# Generated PDFs
static/exports/*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db